name : Build and Deploy to Tencent Cloud

on:
  push:
    branches:
      - main

jobs: 
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'

      - name: Install yarn
        run: npm install -g yarn
      - run: yarn
      - run: yarn build

      - name: Deploy to Tencent Cloud
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: ${{ secrets.SERVER_PORT }}
          source: "dist/*" # Vite项目默认的构建输出目录
          target: "/home/babyloader" # 请修改为服务器上目标路径，例如Nginx配置的根目录